body{margin: 0%;

}


nav{width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-between;
}
nav ul{    display:flex;

}
nav ul li{list-style-type:none;

        margin-right: 20px;
}

.nav-list{display: flex;

}

nav button{height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    padding: 15px 20px;
    
    border: 2px solid  blueviolet;

  
    border-radius: 50px;
    color:blueviolet;
    background-color: white;
}
nav button:hover{
    background-color: blueviolet;
    color: white;
}
header{ padding-top:10px ;
        height: 95vh;
        background: #EBF5FF;
        background: -webkit-linear-gradient(bottom, #dae9f8);
        background: -moz-linear-gradient(bottom, #dae9f8);
        background: linear-gradient(to top, #dae9f8, #FFFFFF);
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 97%);
        margin-bottom: 5vh;

}


.main-content button{  font-size: 16px;
    padding: 15px 20px;
    border-radius: 50px;
    color:blueviolet;
    background-color: white;

}

   
    

 .btns  #btn1{ background-color: blueviolet;
            color: white;
            border: none;
}


.btns #btn2{border: none;

}
.main{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.eye-btn button{
    background-color: rgb(234, 224, 243);
    color: blueviolet;
    border: none;
    border-radius: 50px;
    display: block;
    margin:0px auto 0px auto ;
    padding: 5px 15px;
    
}
.eye-heading {
    text-align: center;
}
.eye-heading p{ color: gray;
               margin: auto;
               width: 70vw;
             

}


.logo-3{
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    gap:25px;
   text-align: center;

}
.logo-3 p{ color: gray;
         font-size: small;

}

.product{display: flex;
         justify-content: center;
         gap: 100px;
         margin-bottom:10%; 

}
.text{margin-top:10% ;
     text-align: left;

}
.text p{color: gray;

      font-size: small;
}
.text button{text-align: center;
    background-color: rgb(234, 224, 243);
    color: blueviolet;
    border-radius: 50px;
    border: none;
    padding:5px 25px;
    
}

.data-driven{
    padding: 0px;
    margin-left: 10vw;
    display:flex;
    justify-content: center;
    gap:20px;
    width: 80vw;
    margin-bottom: 10vh;

}
.text-1 button{text-align: center;
    background-color: rgb(234, 224, 243);
    color: blueviolet;
    border-radius: 50px;
    border: none;
    padding:5px 25px;
    
}

.text-1{margin-top:10% ;
    text-align:left;

}
.text-1 p{color: gray;

     font-size: small;
}

/* cto section */

 
     
.cto{
        clip-path: polygon(0% 18%, 100% 0%, 100% 82%, 0% 100%);
        background: linear-gradient(to top, #f4f8ff, #f4ecf9);
    }
    
    .cto-section{
    width: 80%;
    margin: auto;
}



.cto-section p{
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10%;
}

.cto-profile{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.cto-name{
    margin: 3% auto;
}

.wrap-line{
    border-bottom: 3px solid #eae4fa;
    width: 75%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.logos-group{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    padding-bottom: 10%;
}

.logos-group img{
    width: 10%;
}
.last-section{
    width: 90%;
    margin: 10% auto;
    display: flex;
}
/* why qubly section*/
.why-qubly-container{
    width: 50%;
}

.why-qubly-container h2{
    width: 65%;
    margin: auto;
}

.first-line, .second-line{
    border-bottom: 3px solid #eaeaea;
    width: 30%;
    margin: 3%;
}

.trusted-by-line{
    width: 72%;
    display: flex;
    align-items: center;
    margin: 5% auto;
}

.trusted-by-line span{
    color: #97979e;
    font-size: 0.9rem;
    font-weight: 500;
    width: 22%;
}

.why-qubly-logos{
    width: 60%;
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 60px;
}

.why-qubly-logos img{
    width: 30%;
}

.sign-up-container{
    width: 50%;
}

.sign-up-section{
    width: 75%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #f9f0ff;
}

.sign-up-card{
    width:90%;
    border-radius:0.5rem;
    background-color:#ffffff;
    position: relative;
    bottom: 20px;
    box-shadow: 6px 6px 11px -1px rgba(59, 58, 58, 0.23);
}

.sign-up-card h3{
    font-size: 1.3rem;
    padding: 3%;
}

.card-trial-btn{
    width: 80%;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    background-color: #7a3ad4;
    border: none;
    font-weight: 400;
    margin-bottom: 5%;
}

.sign-up-card input{
    width: 80%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5%;
    border: 2px solid #e9e9e9;
    font-weight: 500;
    color: #616161;
    outline: 0;
}

.sign-up-card input::placeholder{
    color: #9f9fb3;
    border: 0;
}

.signin-section{
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn{
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    background-color: #4285f4;
    border: none;
    font-weight: 600;
}

.google-icon{
    width: 8.7%;
    border: 2px solid #4285f4;
}

.google-btn:hover {
    cursor: pointer;
    
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  }
  .google-btn:active {
    background-color: #3367D6;
   
  }

.sign-up-line{
    border-bottom: 3px solid #eaeaea;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.already-account{
    margin-bottom: 8%;
    color: #9f9fb3;
}

.already-account a{
    text-decoration: none;
    color: #7838d3;
}

footer{
    background-color: #fbfcff;
}

.footer-lists{
   
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
}

.footer-lists ul li{
    list-style-type: none;
    margin-bottom: 10%;
    font-size: 0.9rem;
}

.footer-lists h4{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15%;
}

.social img{
    margin-right: 1%;
}

.footer-social{
    width: 22%;
    margin-bottom: 10%;
    font-size: 0.9rem;
}

.footer-social p{
    margin: 5% auto;
}
.newsletter{
    padding-top: 8%;
}

.newsletter input{
    border: none;
    background-color: #FFFFFF;
  
    padding: 3%;
    box-shadow: 2px 2px 6px -1px rgba(124, 122, 122, 0.23);
    outline: 0;
}

.newsletter img{
    position: relative;
    left: 70%;
    bottom: 25px;
    width: 10%;
}




